<h1>{{ title }}</h1>

<form name="equipmentForm">
    <div class="row show-grid">
        <div class="col-md-12">
            <label>Name</label>
            <input class="form-control" ng-model="item.name"></input>
        </div>
        <div class="col-md-12">
            <label>SKU</label>
            <input class="form-control" ng-model="item.sku"></input>
        </div>
        <div class="col-md-12">
            <label>Category</label>
            <input class="form-control" ng-model="item.category"></input>
        </div>
        <div class="col-md-12">
            <label>Rating</label>
            <select ng-model="item.rating" ng-options="x for x in ratings"></select>
        </div>
        <div class="col-md-12">
            <img ng-src="./images/{{item.fileName}}" ng-show="item.fileName" style="float: left" height="200" width="200">
            <div style="position: relative; bottom: -180;">
                <input type="button" class="btn btn-danger btn-sm" value="Remove Photo" ng-click="removePhoto()" ng-show="item.fileName"></input>
            </div>
            <div>
                <input type="file" ngf-select ng-model="item.file" style="clear: left"/>
            </div>
        </div>
        <div class="col-md-12">
            <input type="button" class="btn btn-primary" value="Save" ng-click="save()"></input>
            &nbsp;&nbsp;<a href="/#/">Back</a>
        </div>
    </div>
</form>