<h1>{{ title }}</h1>

<form name="equipmentForm">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" ng-model="item.name"></input>
    </div>
    <div class="form-group">
        <label>SKU</label>
        <input class="form-control" ng-model="item.sku"></input>
    </div>
    <div class="form-group">
        <label>Category</label>
        <input class="form-control" ng-model="item.category"></input>
    </div>
    <div class="form-group">
        <label>Rating</label>
        <input class="form-control" ng-model="item.rating"></input>
    </div>

    <div class="form-group">
        <img ng-src="./images/{{item.fileName}}" ng-show="item.fileName" height="200" width="200">
    </div>

    <div class="form-group">
        <input type="file" ngf-select ng-model="item.file"/>
    </div>

    <input type="button" class="btn btn-primary" value="Save" ng-click="save()"></input>
    <a href="/#/">Back</a>
</form>